# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory, except for the (mac dylib component)
/build/
/pgen-lib/build/
/pgen/build/classes/
/pgen/build/generated/
/pgen/build/objs/
/pgen/build/reports/
/pgen/build/test-results/
/pgen/build/tmp/
/pgen/build/libs/*.jar

#Ignore .idea and .vscode directories
.idea
.vscode

#OSX junk
*.DS_Store

#Java binary stuff
pgen/bin

#pgen-lib CMake stuff
pgen-lib/cmake-build-debug
pgen-lib/cmake-build-release

