# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore .idea and .vscode directories
.idea
.vscode

#OSX junk
*.DS_Store

#Java binary stuff
pgen/bin

#pgen-lib CMake stuff
pgen-lib/src/test/cmake-build-debug/
pgen-lib/src/test/cmake-build-release/
